 
/* section connexion */
.section_connexion{
    margin: 100px 250px;
     
    
}

.form-group{
    
    margin: 10px 200px;
}
.form-connection{
     
   background-color: whitesmoke;
    width: 100%;
    margin-top: 280px;
    height: 100%;
    text-align: center; 
    padding: 100px;
   
}

.form-connection h2 {
    color: black;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;

}

.form-control{
    font-family: 'Patrick Hand', cursive;
    font-size: 1.1rem;
    
    height: 40px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: gray;
    padding: 10px;
    
}

 
 

  .btn {
   
   
    font-family: 'Patrick Hand', cursive;
    background-color: white;
    margin: 10px 200px;
    font-size: 1.2rem;
    padding: 10px 50px 10px 50px;
    border: 0.5px solid gray;
    
    align-items: center;
  }

 
  /* adaptatif aux autres écran */

  @media all and (max-width: 991px) {
      .section_connexion{
          margin: 120px 30px;
          padding: 0px;
      }
    /* .form-inscription{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        margin: 0;

    } */
    /* .form-inscription h2{
        color: crimson;
    } */

    .form-group{
      
        padding: 20px;
        width: 100%;
        margin: 10px auto;
       
        
    }
    .form-control{
        display: flex;
        justify-content: center;
        align-items: center;
         margin: 10px auto;
         
         text-align: center;
         
        
    }
    .btn{
        margin: 10px auto;

    }
  }


  @media screen and (min-width: 1000px) and (max-width: 1300px) {
    .section_connexion{
         margin: 100px auto;
    }
    /* .form-inscription{
       
        margin: 200px auto;
      
        
        
    } */

  }